@model POLYTEKS_ARGE.Models.ARGE_Numune

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2 style="color: black"><b> @Model.NumuneAdi NUMUNESİ DETAYLARI</b></h2></center>

<div>
    @Html.HiddenFor(model => model.ID)
</div>
<hr />
<body>
    <div class="bs-example">
        <table class="table table-bordered table-hover table-striped table-responsive-xxl">
            <thead class="table-striped">

            </thead>
            <tbody>

                <tr>
                    <td style="color: black"><b>NUMUNE ADI</b></td>
                    <td style="color: black">  @Html.DisplayFor(model => model.NumuneAdi)</td>
                </tr>
                <tr>
                    <td style="color: black"><b>MÜŞTERİ FİRMA</b></td>

                    <td style="color: black">
                        @Html.DisplayFor(model => model.MusteriFirma)
                    </td>
                </tr>
                <tr>
                    <td style="color: black"><b>İLGİLİ KİŞİ</b></td>

                    <td style="color: black">
                        @Html.DisplayFor(model => model.IlgiliKisi)
                    </td>
                </tr>
                <tr>
                    <td style="color: black"><b>İLETİŞİM</b></td>
                    <td style="color: black">  @Html.DisplayFor(model => model.Iletisim)</td>
                </tr>
                <tr>
                    <td style="color: black"><b>MİKTAR</b></td>
                    <td style="color: black">   @Html.DisplayFor(model => model.Miktar)</td>
                </tr>

                @*<tr>
                        <td style="color: black"><b>PROJE KISA ADI</b></td>
                        <td style="color: black">   @Html.DisplayFor(model => model.ProjeKisaAd)</td>
                    </tr>*@
                <tr>
                    <td style="color: black"><b>HATIRLATMA TARİHİ</b></td>
                    <td style="color: black">   @Html.DisplayFor(model => model.HatirlatmaTarihi)</td>
                </tr>

                <tr>
                    <td style="color: black"><b>PARTİ KODU</b></td>
                    <td style="color: black">   @Html.DisplayFor(model => model.PartiKodu)</td>
                </tr>
                <tr>
                    <td style="color: black"><b>AÇIKLAMA</b></td>
                    <td style="color: black">   @Html.DisplayFor(model => model.Aciklama)</td>
                </tr>
                <tr>





            </tbody>
        </table>
        <div style="color:black" class="b">
            <b>
                <strong> &nbsp;F-32.03G/00  </strong>

            </b>
        </div>
        <style>

            div.b {
                text-align: left;
                font-style: italic;
            }
        </style>
    </div>
</body>



<p>
    @Html.ActionLink("DÜZENLE", "Edit", new { id = Model.ID }, new { @class = "btn btn-primary" })
</p>
<p>
    @Html.ActionLink("LİSTEYE GERİ DÖN", "Index", "Proje", new { @class = "btn btn-success" })
</p>
<div id="loader" class="center"></div>

<script>
    document.onreadystatechange = function () {
        if (document.readyState !== "complete") {
            document.querySelector(
                "body").style.visibility = "hidden";
            document.querySelector(
                "#loader").style.visibility = "visible";
        } else {
            document.querySelector(
                "#loader").style.display = "none";
            document.querySelector(
                "body").style.visibility = "visible";
        }
    };
</script>
<style>
    #loader {
        border: 12px solid #f3f3f3;
        border-radius: 50%;
        border-top: 12px solid #444444;
        width: 70px;
        height: 70px;
        animation: spin 1s linear infinite;
    }

    @@keyframes spin {
        100% {
            transform: rotate(360deg);
        }
    }

    .center {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
</style>