@model POLYTEKS_ARGE.Models.ARGE_FikirHavuzu

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-12">
    <div class="card">
        <div class="card-header text-center bg-dark text-white">
            <div class="row align-items-center">
                <div class="col-md-11">
                    <h2><b style="color:black">AR-GE FİKRİNİ DÜZENLE</b></h2>
                </div>
            </div>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()



            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)

            <div class="form-row">
                <div class="form-group col-md-6">
                    <b>@Html.Label("TARİH", htmlAttributes: new { @class = "control-label col-md-12", style = "color:black" })</b>
                    <div class="col-md-12">

                        @Html.TextBoxFor(model => model.Tarih, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control", style = "color:black" })
                        @Html.ValidationMessageFor(model => model.Tarih, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <b> @Html.Label("FİKİR SAHİBİ", htmlAttributes: new { @class = "control-label col-md-12", style = "color:black" })</b>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.FikirSahibi, new { htmlAttributes = new { @class = "form-control", style = "color:black" } })
                        @Html.ValidationMessageFor(model => model.FikirSahibi, "", new { @class = "text-danger" })
                    </div>
                </div>


            </div>

   
            <div class="form-group">
                <b>@Html.Label("FİKİR KONUSU", htmlAttributes: new { @class = "control-label col-md-12", style = "color:black" })</b>
                <div class="col-md-12">
                    @Html.EditorFor(model => model.FikirKonusu, new { htmlAttributes = new { @class = "form-control", style = "color:black" } })
                    @Html.ValidationMessageFor(model => model.FikirKonusu, "", new { @class = "text-danger" })
                </div>
            </div>
  
            <div class="form-row">
                <div class="form-group col-md-4">
                    <b> @Html.Label(" GÜNCEL DURUM", htmlAttributes: new { @class = "control-label col-md-12", style = "color:black" })</b>
                    <div class="col-md-12">
                        @Html.DropDownList("GuncelDurumId", null, "--GÜNCEL DURUM SEÇİNİZ--", htmlAttributes: new { @class = "form-control", style = "color:black" })

                        @Html.ValidationMessageFor(model => model.GuncelDurumId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <b> @Html.Label("ONAY DURUMU", htmlAttributes: new { @class = "control-label col-md-12", style = "color:black" })</b>
                    <div class="col-md-12">
                        @Html.DropDownList("OnayDurumId", null, "--ONAY DURUMUNU SEÇİNİZ--", htmlAttributes: new { @class = "form-control", style = "color:black" })
                        @Html.ValidationMessageFor(model => model.OnayDurumId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group col-md-4">
                    <b>@Html.Label("SON DURUM", htmlAttributes: new { @class = "control-label col-md-12", style = "color:black" })</b>
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.SonDurum, new { htmlAttributes = new { @class = "form-control", style = "color:black" } })
                        @Html.ValidationMessageFor(model => model.SonDurum, "", new { @class = "text-danger" })
                    </div>
                </div>


            </div>
            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-12">
                    <input type="submit" value="DEĞİŞİKLİKLERİ KAYDET" class="btn btn-danger btn-block" />
                </div>
            </div>

        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-12">
                @Html.ActionLink("LİSTEYE GERİ DÖN", "Index1", "FikirHavuzu", new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
        </div>

        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
        <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

        <script>
            $(function () {
                $("#datepicker").datepicker;
            });
        </script>
        <div id="loader" class="center"></div>

        <script>
            document.onreadystatechange = function () {
                if (document.readyState !== "complete") {
                    document.querySelector(
                        "body").style.visibility = "hidden";
                    document.querySelector(
                        "#loader").style.visibility = "visible";
                } else {
                    document.querySelector(
                        "#loader").style.display = "none";
                    document.querySelector(
                        "body").style.visibility = "visible";
                }
            };
        </script>
        <style>
            #loader {
                border: 12px solid #f3f3f3;
                border-radius: 50%;
                border-top: 12px solid #444444;
                width: 70px;
                height: 70px;
                animation: spin 1s linear infinite;
            }

            @@keyframes spin {
                100% {
                    transform: rotate(360deg);
                }
            }

            .center {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        </style>
