@*@model IEnumerable<POLYTEKS_ARGE.Models.ARGE_Proje>*@
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<POLYTEKS_ARGE.Models.ARGE_Proje>
@using ClosedXML.Excel;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong>BAŞARILI!</strong> @TempData["AlertMessage"]
    </div>

}
@if (TempData["EditAlertMessage"] != null)
{
    <div class="alert alert-primary">
        <strong>BAŞARILI!</strong> @TempData["EditAlertMessage"]
    </div>

}
@if (TempData["DeleteAlertMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>BAŞARILI!</strong> @TempData["DeleteAlertMessage"]
    </div>

}
<div class="col-md-12">
    <div class="card" style="background-color: whitesmoke ">
        <div class="card-header">
            <link href="~/Content/Gridmvc.css" rel="stylesheet" />
            <script src="~/Scripts/jquery-3.6.0.min.js"></script>
            <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
            <script src="~/Scripts/gridmvc.min.js"></script>
            <script src="~/Scripts/bootstrap-datepicker.js"></script>
            <script src="~/Scripts/locales/bootstrap-datepicker.tr.min.js"></script>
            <script src="~/Scripts/gridmvc.customwidgets.js"></script>
            <center><h2 style="color:black"><b>AR-GE PROJELERİ</b></h2></center>
            <hr />

            <p>
                @Html.ActionLink("YENİ PROJE OLUŞTUR", "Create", "Proje", new { @class = "btn btn-info btn-block" })

            </p>
            <p>
                @Html.ActionLink("RAPORLAMA", "ProjeRapor", "Proje", new { @class = "btn btn-danger btn-block" })

            </p>

            <div class="container">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" type="text" id="Search" placeholder="ARA">
                        <div class="input-group-append">
                            <div class="input-group-text"><i class="fa fa-search"></i></div>
                        </div>
                    </div>

                </div>
            </div>
            <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped table-bordered table-sm sortable" id="myTable">
                        <thead>
                            <tr>


                                <th style="color: black">
                                    <b>  PROJE DURUMU</b>
                                </th>
                                <th style="color: black">
                                    <b>PROJE KODU</b>
                                </th>
                                <th style="color: black">
                                    <b>PROJE ADI</b>
                                </th>
                                <th style="color: black">
                                    <b>BAŞLANGIÇ TARİHİ</b>
                                </th>
                                <th style="color: black">
                                    <b>  BİTİŞ TARİHİ</b>
                                </th>

                                <th style="color: black">
                                    <b> ÖZKAYNAKLA KARŞILANAN TUTAR</b>
                                </th>
                                <th style="color: black">
                                    <B>TOPLAM PROJE BÜTÇESİ</B>
                                </th>
                                <th style="color: black">
                                    <b>PROJE YÜRÜTÜCÜSÜ</b>
                                </th>
                                <th style="color: black">
                                    <b>DESTEK DURUMU</b>
                                </th>

                            </tr>
                        </thead>

                        <tbody>
                            @{

                                foreach (var item in Model)
                                {

                                    <tr class="Search item">

                                        <td style="color: black">
                                            @(item.ProjeDurum? "DEVAM EDEN PROJE" : "TAMAMLANAN PROJE")
                                        </td>
                                        <td style="color: black">
                                            <b> @Html.DisplayFor(modelItem => item.ProjeKodu)</b>
                                        </td>
                                        <td style="color: black">
                                            @Html.DisplayFor(modelItem => item.ProjeAdi)
                                        </td>
                                        <td style="color: black">
                                            @Html.DisplayFor(modelItem => item.ProjeBaslangicTarihi)
                                        </td>

                                        <td style="color: black">
                                            @Html.DisplayFor(modelItem => item.ProjeBitisTarihi)
                                        </td>
                                        <td style="color: black">
                                            @*@Html.DisplayFor(modelItem => item.OzkaynakTutari)*@
                                            @string.Format("{0:#,0.00}", item.OzkaynakTutari)
                                        </td>
                                        <td style="color: black">
                                            @string.Format("{0:#,0.00}", item.MaliyetOngorusu)
                                        </td>

                                        <td style="color: black">
                                            <b> @Html.DisplayFor(modelItem => item.ARGE_Personel.AdSoyad)</b>
                                        </td>

                                        <td style="color: black">
                                            <b> @Html.DisplayFor(modelItem => item.ProjeDestekDurumu)</b>
                                        </td>
                                        <td style="color: black">


                                            <a href="@Url.Action("Edit", "Proje",new { id = item.ID })" title="DÜZENLE" class="btn btn-primary"> <i class="fas fa-pen">   </i></a>




                                        </td>


                                        <td style="color: black">
                                            @*@Html.ActionLink("DETAYLAR", "Details", new { id = item.ID }, new { @class = "btn btn-info" })*@
                                            <a href="@Url.Action("Details", "Proje",new { id = item.ID })" title="DETAYLAR" class="btn btn-info"> <i class="fa fa-book" aria-hidden="true">  </i></a>

                                        </td>
                                        <td style="color: black">
                                            <input type="submit" name="btn" value="SİL" class="btn btn-danger btnSil" data-id="@item.ID" />




                                    </tr>
                                }
                            }
                        </tbody>


                    </table>
                    <div style="color:black" class="b">
                        <b>
                            <strong>&nbsp;F-32.01/00 </strong>


                        </b>
                    </div>
                    <style>

                        div.b {
                            text-align: left;
                            font-style: italic;
                        }
                    </style>
                </div>
            </div>


            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
            <script type="text/javascript">

                $(document).ready(function () {
                    function Contains(text_one, text_two) {
                        if (text_one.indexOf(text_two) != -1)
                            return true;
                    }
                    $("#Search").keyup(function () {
                        var searchText = $("#Search").val().toLowerCase();
                        $(".Search").each(function () {
                            if (!Contains($(this).text().toLowerCase(), searchText)) {
                                $(this).hide();
                            }
                            else {
                                $(this).show();
                            }
                        })
                    });
                });

            </script>
            <script src="~/Scripts/bootstrap.min.js"></script>
   
            <script src="~/Scripts/bootbox.min.js"></script>
            <script src="~/Scripts/jquery-3.6.0.js"></script>
            <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#myTable").on("click", ".btnSil", function () {

                        var btn = $(this);
                        bootbox.confirm(btn.data("id") + " " + "numaralı kayıt silinsin mi?", function (result) {
                            if (result) {
                                var id = btn.data("id");
                                $.ajax(
                                    {
                                        type: "GET",


                                        url: "/Proje/Delete/",
                                        data: { id: id },

                                        success: function () {
                                            btn.parent().parent().remove();
                                            alert('BAŞARIYLA SİLİNDİ!');
                                        }
                                    }
                                );
                            }
                        });

                    });

                });

            </script>
            <div class="pagination">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
            {
                DisplayLinkToIndividualPages = true,
                DisplayPageCountAndCurrentLocation = true,
                MaximumPageNumbersToDisplay = 5,
                //MaximumPageNumbersToDisplay = 3,
                //LiElementClasses = new string[] { "pagination" },
                //LinkToFirstPageFormat = "<< İLK",
                //LinkToPreviousPageFormat = "< GERİ",
                //LinkToNextPageFormat = "İLERİ >",
                //LinkToLastPageFormat = "SON >>",
                DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                DisplayLinkToLastPage = PagedListDisplayMode.Always,
                DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,

                DisplayEllipsesWhenNotShowingAllPageNumbers = false,
                EllipsesFormat = "&#8230;",
                LinkToFirstPageFormat = "««",
                LinkToPreviousPageFormat = "«",
                LinkToIndividualPageFormat = "{0}",
                LinkToNextPageFormat = "»",
                LinkToLastPageFormat = "»»",
                PageCountAndCurrentLocationFormat = "Sayfa {0}/{1}",
                //ItemSliceAndTotalFormat = "Showing items {0} through {1} of {2}.",
                FunctionToDisplayEachPageNumber = null,
                ClassToApplyToFirstListItemInPager = null,
                ClassToApplyToLastListItemInPager = null,
                ContainerDivClasses = new[] { "pagination" },
                //UlElementClasses = new[] { "pagination" },
                //LiElementClasses = Enumerable.Empty<string>(),

                //PageClasses = new string[] { "page-link" },

            }
            /* PagedListRenderOptions.PageNumbersOnly*/)
            </div>
            <style>
                .pagination a {
                    color: black;
                    float: left;
                    padding: 8px 16px;
                    text-decoration: none;
                    transition: background-color .3s;
                    border: 1px solid #ddd;
                }

                    .pagination a.active {
                        background-color: #4CAF50;
                        color: white;
                        border: 1px solid #4CAF50;
                    }

                    .pagination a:hover:not(.active) {
                        background-color: #ddd;
                    }
            </style>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <style>
                table {
                    margin: 0 auto;
                    margin-top: 20px;
                    width: 100%;
                    position: relative;
                    overflow: auto;
                    /*  overflow-y: overlay;*/
                }

                th,
                thead {
                    position: sticky;
                    top: 0;
                    border: 1px solid #dddddd;
                    /* background-color: #1f2d54;*/
                    text-align: center;
                    color: white;
                    table-layout: fixed;
                    word-break: break-word;
                    height: 45px;
                }

                .filter {
                    position: absolute;
                    width: 20vw;
                    height: 30vh;
                    display: none;
                    text-align: left;
                    font-size: small;
                    z-index: 9999;
                    overflow: auto;
                    background: #ffffff;
                    /*   color: #1f2d54;*/
                    border: 1px solid #dddddd;
                }

                    .filter input {
                        margin: 5px !important;
                        padding: 0 !important;
                        width: 10%;
                    }
            </style>
            <script>
                (function ($) {

                    $.fn.ddTableFilter = function (options) {
                        options = $.extend(true, $.fn.ddTableFilter.defaultOptions, options);

                        return this.each(function () {
                            if ($(this).hasClass('ddtf-processed')) {
                                refreshFilters(this);
                                return;
                            }
                            var table = $(this);
                            var start = new Date();

                            $('th:visible', table).each(function (index) {
                                if ($(this).hasClass('skip-filter')) return;
                                var selectbox = $('<select class="form-control">');
                                var values = [];
                                var opts = [];
                                selectbox.append('<option value="--all--">' + $(this).text() + '</option>');

                                var col = $('tr:not(.skip-filter) td:nth-child(' + (index + 1) + ')', table).each(function () {
                                    var cellVal = options.valueCallback.apply(this);
                                    if (cellVal.length == 0) {
                                        cellVal = '--empty--';
                                    }
                                    $(this).attr('ddtf-value', cellVal);

                                    if ($.inArray(cellVal, values) === -1) {
                                        var cellText = options.textCallback.apply(this);
                                        if (cellText.length == 0) { cellText = options.emptyText; }
                                        values.push(cellVal);
                                        opts.push({ val: cellVal, text: cellText });
                                    }
                                });
                                if (opts.length < options.minOptions) {
                                    return;
                                }
                                if (options.sortOpt) {
                                    opts.sort(options.sortOptCallback);
                                }
                                $.each(opts, function () {
                                    $(selectbox).append('<option value="' + this.val + '">' + this.text + '</option>')
                                });

                                $(this).wrapInner('<div style="display:none">');
                                $(this).append(selectbox);

                                selectbox.bind('change', { column: col }, function (event) {
                                    var changeStart = new Date();
                                    var value = $(this).val();

                                    event.data.column.each(function () {
                                        if ($(this).attr('ddtf-value') === value || value == '--all--') {
                                            $(this).removeClass('ddtf-filtered');
                                        }
                                        else {
                                            $(this).addClass('ddtf-filtered');
                                        }
                                    });
                                    var changeStop = new Date();
                                    if (options.debug) {
                                        console.log('Search: ' + (changeStop.getTime() - changeStart.getTime()) + 'ms');
                                    }
                                    refreshFilters(table);

                                });
                                table.addClass('ddtf-processed');
                                if ($.isFunction(options.afterBuild)) {
                                    options.afterBuild.apply(table);
                                }
                            });

                            function refreshFilters(table) {
                                var refreshStart = new Date();
                                $('tr', table).each(function () {
                                    var row = $(this);
                                    if ($('td.ddtf-filtered', row).length > 0) {
                                        options.transition.hide.apply(row, options.transition.options);
                                    }
                                    else {
                                        options.transition.show.apply(row, options.transition.options);
                                    }
                                });

                                if ($.isFunction(options.afterFilter)) {
                                    options.afterFilter.apply(table);
                                }

                                if (options.debug) {
                                    var refreshEnd = new Date();
                                    console.log('Refresh: ' + (refreshEnd.getTime() - refreshStart.getTime()) + 'ms');
                                }
                            }

                            if (options.debug) {
                                var stop = new Date();
                                console.log('Build: ' + (stop.getTime() - start.getTime()) + 'ms');
                            }
                        });
                    };

                    $.fn.ddTableFilter.defaultOptions = {
                        valueCallback: function () {
                            return encodeURIComponent($.trim($(this).text()));
                        },
                        textCallback: function () {
                            return $.trim($(this).text());
                        },
                        sortOptCallback: function (a, b) {
                            return a.text.toLowerCase() > b.text.toLowerCase();
                        },
                        afterFilter: null,
                        afterBuild: null,
                        transition: {
                            hide: $.fn.hide,
                            show: $.fn.show,
                            options: []
                        },
                        emptyText: '--BOŞ--',
                        sortOpt: true,
                        debug: false,
                        minOptions: 2
                    }

                })(jQuery);

                $('table').ddTableFilter();

            </script>

        </div>
    </div>
</div>
