@model POLYTEKS_ARGE.Models.ARGE_Maliyet

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />


<center><h2 style="color: black"><b>MALİYET DÜZENLEME</b></h2></center>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()



    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MaliyetId)

    <div class="form-group">
        &emsp;<b style='color:black;'>MALİYET TARİHİ </b>
        <div class="col-md-12">

            @Html.TextBoxFor(model => model.MaliyetTarih, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control", style = "color:black" })
            @Html.ValidationMessageFor(model => model.MaliyetTarih, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">

            &emsp;<b style='color:black;'>MALİYET ADI </b>
            <div class="col-md-12">
                @Html.EditorFor(model => model.MaliyetAdi, new { htmlAttributes = new { @class = "form-control", style = "color:black" } })
                @Html.ValidationMessageFor(model => model.MaliyetAdi, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6">
            &emsp;<b style='color:black;'>FİRMA </b>
            <div class="col-md-12">
                @Html.EditorFor(model => model.Firma, new { htmlAttributes = new { @class = "form-control", style = "color:black" } })
                @Html.ValidationMessageFor(model => model.Firma, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        &emsp;<b style='color:black;'>PERSONEL </b>
        <div class="col-md-12">
            @Html.EditorFor(model => model.Personel, new { htmlAttributes = new { @class = "form-control", style = "color:black" } })
            @Html.ValidationMessageFor(model => model.Personel, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-row">
        <div class="form-group col-md-4">
            &emsp;<b style='color:black;'>KDVsiz MALİYET TUTARI </b>
            <div class="col-md-12">
                @Html.EditorFor(model => model.KDVsizMiktar, new { htmlAttributes = new { @class = "form-control", style = "color:black" } })
                @Html.ValidationMessageFor(model => model.KDVsizMiktar, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-4">
            &emsp;<b style='color:black;'>KDVli MALİYET TUTARI </b>
            <div class="col-md-12">
                @Html.EditorFor(model => model.KDVliMiktar, new { htmlAttributes = new { @class = "form-control", style = "color:black" } })
                @Html.ValidationMessageFor(model => model.KDVliMiktar, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-md-4">
            &emsp;<b style='color:black;'>BİRİM </b>
            <div class="col-md-12">
                @Html.DropDownListFor(model => model.Birim, new List<SelectListItem>
               {
                         new  SelectListItem { Text = "TL", Value = "TL" },
               new  SelectListItem { Text = "EURO", Value = "EURO" },

                 new  SelectListItem { Text = "USD", Value = "USD" },



               }, "--LÜTFEN BİRİMİ SEÇİNİZ--", new { @style = "color:black", @class = "form-control", required = "required", title = "Lütfen Birimi Seçiniz!" })
                @Html.ValidationMessageFor(model => model.Birim, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            &emsp;<b style='color:black;'>MALİYET TİPİ </b>
            <div class="col-md-12">
                @Html.DropDownListFor(model => model.MaliyetTipi, new List<SelectListItem>
                  {
                            new  SelectListItem { Text = "HİZMET", Value = "HİZMET" },
                  new  SelectListItem { Text = "MALZEME", Value = "MALZEME" },





                  }, "--LÜTFEN MALİYET TİPİNİ SEÇİNİZ--", new { @style = "color:black", @class = "form-control", required = "required", title = "Lütfen Maliyet Tipini Seçiniz!" })
                @Html.ValidationMessageFor(model => model.MaliyetTipi, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-md-6">
            &emsp;<b style='color:black;'>PROJE SEÇİNİZ</b>
            <div class="col-md-12">
                @Html.DropDownList("ProjeId", null, htmlAttributes: new { @class = "form-control", style = "color:black" })
                @Html.ValidationMessageFor(model => model.ProjeId, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        &emsp;<b style='color:black;'>AÇIKLAMA </b>
        <div class="col-md-12">
            @Html.TextAreaFor(model => model.Aciklama, 3, 50, new { @class = "form-control", style = "color:black" })
            @Html.ValidationMessageFor(model => model.Aciklama, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-12">
            <input type="submit" value="DEĞİŞİKLİKLERİ KAYDET" class="btn btn-danger btn-block" />
        </div>
    </div>

}

<div>
    @Html.ActionLink("LİSTEYE GERİ DÖN", "Index", "Maliyet", new { @class = "btn btn-primary" })
</div>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

<script>
    $(function () {
        $("#datepicker").datepicker;
    });
</script>
<div id="loader" class="center"></div>

<script>
    document.onreadystatechange = function () {
        if (document.readyState !== "complete") {
            document.querySelector(
                "body").style.visibility = "hidden";
            document.querySelector(
                "#loader").style.visibility = "visible";
        } else {
            document.querySelector(
                "#loader").style.display = "none";
            document.querySelector(
                "body").style.visibility = "visible";
        }
    };
</script>
<style>
    #loader {
        border: 12px solid #f3f3f3;
        border-radius: 50%;
        border-top: 12px solid #444444;
        width: 70px;
        height: 70px;
        animation: spin 1s linear infinite;
    }

    @@keyframes spin {
        100% {
            transform: rotate(360deg);
        }
    }

    .center {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
</style>